* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}

.form {
  border: 3px solid cyan;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  column-gap: 15px;
}

.form .inputs {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.form .inputs input {
  padding: 5px 10px;
  border: 1px solid cyan;
  outline: 0;
}

.form button {
  align-self: center;

  border: 0;
  padding: 10px 15px;
  background-color: cyan;
}