* {
    padding: 0;
    margin: 0;

}

li {
    list-style: none;
    width: 500px;
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    border: 3px solid cyan;
    padding: 15px;
}

li div, li h2 {
    word-break: break-all;
}

.task {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

.controllers {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;

}

.controllers button {
    height: 40px;
    width: 100px;
    padding: 10px 15px;
    background-color: cyan;
    font-style: 'IBM Plex sans';
    border: 0;
}